.custom-container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 10px;
}

.custom-navbar-bg {
    background-color: var(--gold-color) !important;
}

.container-title {
    display: flex;
    max-width: 600px;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--pink-color);
    clip-path: polygon(100% 0%, 90% 50%, 100% 99%, 0 99%, 10% 50%, 0 0);
    margin: 20px auto;
    flex-direction: column;
}

.custom-badge {
    background-color: var(--pink-color) !important;
    color: white;
}

.ursinha {
    display: inline-block;
    /* Ajuste a exibição para a imagem */
    width: 300px;
    /* Largura fixa para controlar o tamanho */
    height: 300px;
    /* Altura fixa para manter o formato circular */
    border: 4px solid var(--pink-color);
    /* Borda colorida */
    border-radius: 50%;
    overflow: hidden;
}

.ursinha img {
    width: 100%;
    /* Garante que a imagem ocupe 100% da área do contêiner */
    height: 100%;
    /* Garante que a imagem tenha 100% de altura */
    object-fit: cover;
    /* Ajusta a imagem para que ela cubra toda a área sem distorcer */
}

.convite {
    padding: 10px;
    width: 100%;
    text-align: center;
    color: var(--text-color);
    font-size: 17px;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: var(--pink-color);
}

.card {
    border: 4px solid var(--gold-color);
    border-radius: 10px;
    padding: 0;
    margin: 0;

    .card-title {
        background-color: var(--pink-color);
        color: white;
        padding: 0.8em;
    }
}